/* --- Perfect 4th type scale ---
base 1.125em (18px)

4.209em (75.76px)
3.157em (56.83px)
2.369em (42.63px)
1.777em (31.98px)
1.333em (23.99px)
1em     (18.00px) - body
0.75em  (13.50px)
*/

* {
    box-sizing: border-box;
}

/* --- Typography ----------------- */

body {
    font-size: 1.125em;
    font-family: 'Gelasio', 'Times New Roman',Times,Baskerville,Georgia,serif;
    line-height: 1.7;
    color: #1B1F20;
    background: linear-gradient(rgba(233, 239, 242,.6),rgba(233, 239, 242,.6)),
                top / contain url('../images/clouds.png') repeat-x;
    background-attachment: fixed;
}

p:nth-of-type(1)::first-letter {
    float: left;
    font-size: 2.6em;
    line-height: 1;
    padding: 0 .1em .1em 0;
}
p:nth-of-type(1)::first-line {
    text-transform: uppercase;
}

h1,
h2,
h3 {
    font-family: 'Indie Flower', 'Comic Sans', cursive;
    font-weight: normal;
}

h3 {
    font-size: 1.333em;
    line-height: 1.3;
}
h2 {
    font-size: 1.777em;
    line-height: 1.2;
}
h1 {
    font-size: 2.369em;
    margin-bottom: .1em;
    line-height: 1.1;
}

/* --- Basic Layout ----------------- */

/* - Navigation --------- */
.main-nav a {
    display: block;
    text-decoration: none;
    font-family: 'Indie Flower', 'Comic Sans', cursive;
    font-weight: 400;
    text-align: center;
    color: #1B1F20;
    text-transform: lowercase;
    border: none;
    padding: .5em;
    border-radius: .1em;
}

.main-nav a:nth-of-type(even) {
    background-color: #D9ADC5;
}
.main-nav a:nth-of-type(odd) {
    background-color: #8DF2F2;
}
.main-nav a:nth-of-type(even):hover {
    background-color: #EDC1D9;
}
.main-nav a:nth-of-type(odd):hover {
    background-color: #9AFFFF;
}

/* - Banner --------- */
.author-span {
    font-size: 1.333em;
}
.main-header,
.main-nav,
.main-banner {
    display: flex;
    flex-direction: column;
}
.main-banner {
    align-items: center;
    text-align: center;
    padding-bottom: 2em;
}

/* - Content --------- */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-section {
    padding: 0 1em;
    max-width: 27.8rem;
}

.content-divider {
    text-align: center;
}
.divider-image-sm {
    width: 400px;
    max-width: 90vw;
}
.divider-image-lg {
    width: 5em;
    display: none;
}

/* - Footer --------- */
.main-footer {
    background: transparent linear-gradient(to top, #7AD977, #E9EFF2 50%, #E9EFF2 70%,transparent 90%);
    display: flex;
    justify-content: space-around;
    font-family: 'Indie Flower', 'Comic Sans', cursive;
    text-transform: lowercase;
}
.footer-image,
.footer-content {
    flex: 0 1 50%;
}
.footer-image {
    max-width: 45%;
}
.footer-content {
    text-align: right;
    padding-top: 3em;
}
.main-footer span {
    display: block;
}

/* --- Special Elements ----------------- */

/* - Links --------- */
main a,
footer a {
    color: #D9ADC5;
    text-decoration: none;
    font-weight: bold;
}

main a:hover,
footer a:hover {
    color: #EDC1D9;
    border-bottom: 2px solid #EDC1D9;
}

a[href$=".pdf"] {
    font-family: 'Indie Flower', 'Comic Sans', cursive;
    background-image: url('../images/pdf-icon.png');
    background-position: left;
    background-size: 1.3em auto;
    padding-left: 1.5em;
    background-repeat: no-repeat;
    color: #ff6a8e;
}
a[href$=".pdf"]:hover {
    color: rgba(255, 106, 142, .5);
    border-color: rgba(255, 106, 142, .5);
}

/* - Special Headings --------- */
h1.sec-page-title {
    text-align: center;
    margin-bottom: 1em;
}

/* - Special Text --------- */
.loc-name {
    font-style: italic;
}

/* - Downloads Gallery --------- */
.downloads-gallery {
    margin-left: auto;
    margin-right: auto;
}
.downloads-gallery,
.download-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.download-card {
    background-color: rgba(27, 31, 32, .1);
    padding: 1em;
    margin-bottom: 1em;
    border-radius: .25em;
    justify-content: space-between;
}
.download-card img {
    max-width: 95%;
    margin-bottom: .45em;
}

/* --- Media Queries ----------------- */

@media screen and (min-width: 620px) {
    .main-nav {
        flex-direction: row;
        justify-content: center;
    }
    .footer-image {
        max-width: 275px;
    }
    .footer-content {
        text-align: center;
        font-size: 1.333em;
    }
    .downloads-gallery {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-around;
    }
    .download-card {
        flex: 0 1 40%;
    }

}

@media screen and (min-width: 880px) {
    .main-banner {
        flex-direction: row;
        justify-content: flex-start;
        margin-left: 5em;
    }
}

@media screen and (min-width: 1100px) {
    main {
        flex-direction: row;
        justify-content: center;
    }
    .main-header,
    main {
        margin-bottom: 3em;
    }
    
    .divider-image-sm {
        display: none;
    }
    .divider-image-lg {
        display: initial;
    }

    .download-card {
        flex-basis: 20%;
    }
    
}

@media screen and (min-width: 1200px) {
    .main-header {
        flex-direction: row;
        justify-content: space-around;
    }
    .main-nav {
        align-items: center;
        justify-content: flex-end;
    }
    .main-banner {
        margin-left: 0;
    }
}
